<div class="container collapsible collapsible--expanded">
  <div class="collapsible__body">
    <header class="collapsible__header">
      <h2>Introduction</h2>
      <svg class="icon icon--medium icon--red collapsible__close">
        <use xlink:href="images/sprite.svg#times-circle-regular"></use>
      </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quasi
      obcaecati dolorum ipsam. Ex dolorem incidunt odio voluptatem dolor quod
      suscipit consectetur ad atque voluptas eveniet, ut tempore veritatis
      magnam.
    </div>
  </div>
  <svg class="icon icon--large icon--primary collapsible__toggler">
    <use xlink:href="images/sprite.svg#bars-solid"></use>
  </svg>
</div>
